<div class="app-container">
  <div>
    <div class="left-container navbar-item">
      <div class="row">
        <div class="col-12 justify-content-center">
          <img class="logo" src="assets/kuepa.png" />
        </div>
        <div class="col-12">
          <mat-icon class="icoHorientation">home</mat-icon>
        </div>
        <div class="col-12">
          <mat-icon class="icoHorientation">assignment</mat-icon>
        </div>
        <div class="col-12">
          <mat-icon class="icoHorientation">article</mat-icon>
        </div>
      </div>
    </div>
  </div>
  <div class="page-container"><router-outlet></router-outlet></div>
  <div class="right-container"></div>
</div>
