<div class="PrimaryBody pl-2">
  prima
  <div class="SearchGrid">
    search
    <div class="NameUser"><h2>Hola, Jorge</h2></div>
  </div>
  <div class="statistic row">
      <div class="staticsPercent col-7"> soy una estadistica </div>
      <div class="groupGoal col-4"> soy una meta </div>
  </div>
  <div class="Messages row">row</div>
</div>

<!-- <table>
<tr *ngFor="let agenda of conexionAgendToDay  | slice:0:10" (click)="onClickAgenda(agenda)">
<td>{{agenda.name}}</td>
</tr>    
</table>

<h2>AgendaSelected</h2>
<p> {{selectedAgenda | json}}</p>

<h2>AgendaDetailSelected</h2>
<p> {{selectedAgendaDetail | json}}</p> -->
